@model ACTIVIDAD2.Models.EstudiantesViewModels

@{

    ViewData["Title"] = "Editar Estudiante";
}

<h2>@ViewData["Title"]</h2>


<form asp-action="Editar" method="post">

    <input type="hidden" asp-for="Matricula" />


    <div class="form-group">
        <label asp-for="Nombre"></label>
        <input asp-for="Nombre" class="form-control" />
        <span asp-validation-for="Nombre" class="text-danger"></span>
    </div>


    <div class="form-group">
        <label asp-for="Apellido"></label>
        <input asp-for="Apellido" class="form-control" />
        <span asp-validation-for="Apellido" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Carrera"></label>
        <select asp-for="Carrera" asp-items="Model.OpcionesCarrera" class="form-control"></select>
        <span asp-validation-for="Carrera" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Turno"></label>
        <select asp-for="Turno" asp-items="Model.OpcionesTurno" class="form-control"></select>
        <span asp-validation-for="Turno" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="TipoIngreso"></label>
        <select asp-for="TipoIngreso" asp-items="Model.OpcionesTipoIngreso" class="form-control"></select>
        <span asp-validation-for="TipoIngreso" class="text-danger"></span>
    </div>

    <div class="form-check">
        <input asp-for="EstaBecado" class="form-check-input" />
        <label asp-for="EstaBecado" class="form-check-label"></label>
    </div>

    <div class="form-group">
        <label asp-for="PorcentajeBeca"></label>
        <input asp-for="PorcentajeBeca" class="form-control" />
        <span asp-validation-for="PorcentajeBeca" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Guardar Cambios</button>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
